{% extends "reviews/base.html" %}

{%block title%}Your Review{%endblock%}


{%block content%}
    <form action="/" , method="POST"> {% comment %} form default type is GET method {% endcomment %} 
      {% csrf_token %} {% comment %} with this token, attackers won't be able to send fake request to our server. {%endcomment%}
      {% for field in form %}   {% comment %} This loops automatically through all the areas that we want to render. so no repeated html code like below. {% endcomment %}
      <div class="form-control {%if field.errors%} errors {% endif %}">
        {{field.label_tag}} 
        {{field}}
        {{field.errors}}
      </div>
    {%endfor%}
      <button type ="submit">Send</button> 
  {%endblock%}
